{{#partial "title"}}Home{{/partial}}

{{#partial "content"}}
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                        <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                        <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                    </svg></span><span>Hero Squad</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" href="/form">Add Hero</a>
            </div>
        </div>
    </nav>
    <div class="container p-5 text-light border" style="background: url(&quot;assets/img/cropped.jpg&quot;) top left / cover no-repeat;height: 50vh;">
        <div class="text-center middle-vertical" style="position: relative;top: 50%;left: 50%;transform: translate(-50%);">
            <h1 class="fs-1">Welcome to Hero Squad</h1>
            <p class="fs-6">The home for all your amazing heroes...</p>
        </div>
    </div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">

    <div class="container mt-3 border">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
            {{#each heroes}}
            <div class="col">
                <div class="card radius-15 bg-primary">
                    <div class="card-body text-center">
                        <div class="p-4 radius-15">
                            <img src="https://media.istockphoto.com/vectors/vector-superhero-silhouette-with-sunburst-effect-background-vector-id1162040662?k=20&m=1162040662&s=612x612&w=0&h=pjtxRm3sCJvvcPatDs4cNpU9svjaGnrcGbl8v62MeRQ=" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
                            <h3 class="mb-0 mt-5 text-dark">{{name}}</h3>
                            <p class="mb-3 text-white">Special Power - {{specialPower}}</p>
                            <p class="mb-3 text-muted">Weakness - {{weakness}}</p>
                            <div class="d-grid"> <a href="#" class="btn btn-white radius-15">{{squad.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

{{/partial}}

{{>layout.hbs}}